.header{
    background-image: url('../image/Banner\ Image.png');
    width: 1320px;
height: 600px;
/* flex-shrink: 0; */
margin: auto;
border-radius: 16px;
background: linear-gradient #070211 0%, rgba(7, 2, 17, 0.00) 100%;
}
.banner-text{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 30px;
font-weight: 400;



}
.banner-title{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;

}
.sec-11{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sec-12{
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.sec-13{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sec-14 {
   margin-left: 500px;
    width: 802.9px;
    height: 500px;
    justify-content: space-between; 
    align-items: center; 
  }

  
.sec-2nd{
    background-image: url('../image/Vectorrr.png');
    /* width: 1320px; */
height: 60vh;
background-repeat: no-repeat;
max-width: 1320px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;

}

.sec-2nd h4, p,h3 {
 
    color: #FFF;


}
.sec-21{
    color:#FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; 
letter-spacing: 5px;
padding: 100px 552px 298px 126px;
}
.sec-22{
    color:#FFF;
}
    
.sec-23{
    color:#FFF;
}

.sec-3rd{
    align-self: center;
        background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
        width: 1500px;
height: 300px;
    /* padding: 130px;
  border-radius: 10px; */
/* background: #FFF8F3; */
margin: 400px 50px 0px 525px;
text-align: center;
}
.container-3rd{
    padding: 100px 386px 214px 385px;
}
#sec-31{
    color: #F00;
 text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.sec-32{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.btn{
    /* margin-bottom: 1000px; */
}
.btn-primary{
    /* display: inline-flex; */
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
background: #F00;
}
.btn-primary-text{
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    
}
.sec411{
    color: #F00;


font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.sec412{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.sec413{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.sec-5th{
    display: flex;
    justify-content: center;
    
}

.sec-5-5{
    text-align: center;
}
.sec-52{
    color: #F00;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.sec-53{
    color: #070211;
    text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.sec-54{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
}

.sec-6th{
    background-color: #F00;
    width: 1320px;
height: 229px;
}

.many-img{
    max-width: 1320px;
    margin: 0 auto;
}
.sec-71{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.sec-72{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}


.row-1 {
    
    justify-content: space-between;
    margin-bottom: 10px; /* Adjust the gap between rows */
  }

  .sec-9th{
   
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
   margin: 0 auto;
   padding: 70px;
   margin-top: 47px;
}
.sec-91-img{
    text-align: center;
}
.sec-92{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.sec-93{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.sec-94{
    align-content: center;
}

footer{
    background-color: #070211;
    display: flex;
    justify-content: space-between;
}
.footer-text-1 ,.footer-text-2{
    color: #FFF;
}
